.space {
  display: grid;
  place-content: center;
  height: 91px;
  width: 91px;
  &_light {
    background-color: #fff;
  }
  &_dark {
    background-color: #85cdca;
  }
  &_initial,
  &_initial-check {
    background: #f5aa94;
    border: 3px solid #E27D5F;
  }
  &_valid,
  &_valid-check {
    border: 3px solid #E27D5F;
  }
  &_initial-checkmate {
    background: #C38D9D;
    border: 3px solid #C38D9D;
  }
  &_valid-checkmate {
    border: 3px solid #C38D9D;
  }
}
