.piece {
  display: block;
  height: 91px;
  width: 91px;
  display: flex;
  align-items: center;
  justify-content: center;
  &__img{
    pointer-events: none;
  }
  &:hover {
    cursor: grab;
  }
  &:active {
    cursor: grabbing;
  }
}